* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

.page {
    background-color: white;
    margin-left: 120px;
    margin-right: 120px;
}

.logo {
    padding-left: 13px;

}

.notehead {
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-size: auto 180%;
    background-color: #4ea0ff;
}

section,
footer {
    padding-left: 13px;
}

.mainTitle {
    font-size: 40px;
    padding-top: 10px;
}

.references {
    color: #888888;
}

.specialcolor {
    color: #53bdeb;
}

h5.references {
    font-weight: 100;
}

.imageTim {
    margin-top: 20px;
}

figcaption {
    font-size: 11px;
}

.mainContents {
    margin-top: 30px;
}

.decorationText {
    background-color: yellow;
}

ul {
    padding-left: 10px;
}

table {
    width: 100%;
    border-spacing: 0px;

}

th {
    width: 33%;
    text-align: left;
    background-color: #20a9e5;
    color: white;
}

.rowcolor {
    background-color: #b1e5f2;
}

.photo {
    width: 312px;
    height: 208px;
    text-align: center;
    margin-top: 15px;
}

.monitor {
    background-image: url("../img/monitor.jpg");
}

.graph {
    background-image: url("../img/graph.jpg");
}

.details {
    color: white;
}